In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
!pip install mysql-connector

In [0]:
!pip install turicreate

In [0]:
import pandas as pd

from sklearn.model_selection import train_test_split

import numpy as np

import mysql.connector
from sqlalchemy import create_engine

mydb = mysql.connector.connect(host="remotemysql.com",
                               user="PfLyb3l2sB",
                               passwd="cKNRc5FUwo",
                               database="PfLyb3l2sB")

engine = create_engine('mysql+mysqlconnector://PfLyb3l2sB:cKNRc5FUwo@remotemysql.com/PfLyb3l2sB')

some = pd.read_sql_query("""select user_id as pop_id,COUNT(user_id) as num_of_interactions 
                            from notifications 
                            GROUP BY pop_id 
                            ORDER BY num_of_interactions DESC""",engine)

another = pd.read_sql_query("select name,id as pop_id from users",engine)

pop = pd.merge(some,another,on="pop_id")

data = pd.DataFrame(pop)

def who_to_follow():
  a = data.nlargest(5,'num_of_interactions')
  a = a.drop(columns=['pop_id','num_of_interactions'])
  return a['name']

In [191]:
import pandas as pd

import numpy as np

from sklearn.model_selection import train_test_split

import time

import turicreate as tc

data.head()

def split_data(data):
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data
  
train_data, test_data = split_data(data)

def create_model():
  user_id = 'pop_id' 
  item_id = 'name'
  users_to_recommend = list(another[user_id])
  n_rec = 5
  n_display = 25

  def model(train_data, name, user_id, item_id, target, users_to_recommend, 
            n_rec, n_display):
    if name == 'popularity':
      model = tc.popularity_recommender.create(train_data, 
                                               user_id = user_id,
                                               item_id = item_id,
                                               target = target)
      
      recom = model.recommend(users=users_to_recommend, k=n_rec)
      recom.print_rows(5)
      return model

  name = 'popularity'
  target = 'num_of_interactions'
  popularity = model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

  models_w_counts = [popularity]

  names_w_counts = ['Popularity Model on Number of Insights']

  eval_counts = tc.recommender.util.compare_models(test_data, models_w_counts, model_names=names_w_counts)
  

output = recom.to_dataframe()
print(output.shape)
output = output.drop(columns=['pop_id'])
output.head()

(11465, 4)

                    name     score  rank
0           Seyi Onifade  1.000000     1
1           Jeffrey Ogah  0.125000     2
2  Oluwaseyi Oluwapelumi  0.057692     3
3           mercy onyilo  0.019231     4
4            Godspeed Ps  0.009615     5

In [24]:
import pandas as pd

import numpy as np

mydb = mysql.connector.connect(host="remotemysql.com",
                               user="PfLyb3l2sB",
                               passwd="cKNRc5FUwo",
                               database="PfLyb3l2sB")

engine = create_engine('mysql+mysqlconnector://PfLyb3l2sB:cKNRc5FUwo@remotemysql.com/PfLyb3l2sB')

lucid_users = pd.read_sql_query("SELECT id, name FROM users",engine)

popular_users = pd.read_sql_query("""SELECT follower_id as id, COUNT(follower_id) as amount_of_followers
                                     FROM following
                                     GROUP BY id
                                     ORDER BY amount_of_followers DESC""",engine)

merge_users = pd.merge(popular_users, lucid_users, on="id")

print(merge_users.shape)
merge_users.head()

(878, 3)

     id  amount_of_followers            name
0     7                  161     Mark Essien
1  1047                  121   ukadike ochem
2     3                  120    Jeffrey Ogah
3     6                  117    Seyi Onifade
4  1179                   63  Kadijat Okeowo