In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
import numpy as np
import random
from gensim.models import Word2Vec
from tqdm import tqdm

In [2]:
mydb = mysql.connector.connect(host="remotemysql.com",user="8SawWhnha4", passwd="zFvOBIqbIz",database="8SawWhnha4")

In [3]:
engine = create_engine('mysql+mysqlconnector://8SawWhnha4:zFvOBIqbIz@remotemysql.com/8SawWhnha4')

In [4]:
users = pd.read_sql_query("select * from users", engine)
following = pd.read_sql_query("select * from following", engine)

In [5]:
print("The shape of the data, following is ",following.shape)

# See the first five rows
following.head()

The shape of the data, following is  (5296, 3)

   my_id  follower_id  status
0      3            6       1
1      6            3       1
2      3            2       1
3      3            7       1
4      7            2       1

In [6]:
# change the column names
print("The column names are ",following.columns)

# Rename the columns
following.columns = ['user_id', 'follower_id', 'status']

The column names are  Index(['my_id', 'follower_id', 'status'], dtype='object')

In [7]:
# Check a subset of the dataset to confirm if the columns have been renamed
following.head()

   user_id  follower_id  status
0        3            6       1
1        6            3       1
2        3            2       1
3        3            7       1
4        7            2       1

In [8]:
# Drop the status column
following = following[['user_id', 'follower_id']]

In [9]:
# Since we will be using Word2Vec, we need our follower id to be in string
following['follower_id']= following['follower_id'].astype(str)

In [10]:
# Create number of unique users
unique_users = following['user_id'].unique().tolist()

In [11]:
# check the length of uniques users
len(unique_users)

980

In [12]:
# Shuffle the users and split into training and testing

random.shuffle(unique_users)

# Extract 95% of users
unique_users_train = [unique_users[i] for i in range(round(0.95 * len(unique_users)))]

# split into train and test data
train_df = following[following['user_id'].isin(unique_users_train)]
test_df = following[~following['user_id'].isin(unique_users_train)]
print(train_df.shape)
print(test_df.shape)

(5035, 2)
(261, 2)

In [13]:
# Create a follower history for each user 

# Training data History
follower_history_train = []

# Fill the list with follower id, this indicates the history of people following a user
for i in tqdm(unique_users_train):
    temp = train_df[train_df['user_id'] == i]['follower_id'].tolist()
    follower_history_train.append(temp)

100%|███████████████████████████████████████████████████████████████████████████████| 931/931 [00:00<00:00, 942.55it/s]

In [14]:
# Testing data
follower_history_test = []
for i in tqdm(test_df['user_id'].unique()):
    temp = test_df[test_df['user_id'] == i]['follower_id'].tolist()
    follower_history_test.append(temp)

100%|█████████████████████████████████████████████████████████████████████████████████| 49/49 [00:00<00:00, 490.24it/s]

In [15]:
len(follower_history_train)

931

In [16]:
len(follower_history_test)

49

In [17]:
# Using the word2vec model to check the similar users
# train word2vec model
model = Word2Vec(window = 10, sg = 1, hs = 0,
                 negative = 10, # for negative sampling
                 alpha=0.03, min_alpha=0.0007,
                 seed = 14)

model.build_vocab(follower_history_train, progress_per=200)

model.train(follower_history_train, total_examples = model.corpus_count, 
            epochs=10, report_delay=1)

C:\Users\Chidibede\Anaconda3\lib\site-packages\gensim\models\base_any2vec.py:743: UserWarning: C extension not loaded, training will be slow. Install a C compiler and reinstall gensim for fast training.
  "C extension not loaded, training will be slow. "

(30459, 50350)

In [18]:
# Edit the users table for easy recommendation
users = users[["id", "name"]]

# remove duplicates
users.drop_duplicates(inplace=True, subset='id', keep="last")

In [19]:
def similar_users(vector, n = 6):
    
    # extract most similar users for the input vector
    msu = model.wv.similar_by_vector(vector, topn= n+1)[1:]

    # extract name of the similar users
    similar_us = []
    for i in msu:
        similar_us.append(i[0])
        people_to_follow = users[users['id'].isin(similar_us)]
    return people_to_follow

# Test the system

In [33]:
# Test the recommender system with the test data
test_df = test_df.reset_index().drop('index',1)

In [42]:
test_user = test_df['user_id'][0].astype(str)
similar_users(model[test_user])

C:\Users\Chidibede\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).

    id                   name
0    1     Eniayomi Oluwaseyi
2    3           Jeffrey Ogah
3    4  Oluwaseyi Oluwapelumi
6    7            Mark Essien
8    9           Edmund Ekott
19  20            albert oboh