In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
!pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
     |████████████████████████████████| 11.9MB 2.8MB/s
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp36-cp36m-linux_x86_64.whl size=247949 sha256=0fabd999fefa70a65ad4ef7a914c362f84e2b5370118338f0c5958e71c0ba464
  Stored in directory: /root/.cache/pip/wheels/8c/83/a1/f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [6]:
import pandas as pd

from sklearn.model_selection import train_test_split

import numpy as np

import mysql.connector
from sqlalchemy import create_engine

mydb = mysql.connector.connect(host="remotemysql.com",
                               user="PfLyb3l2sB",
                               passwd="cKNRc5FUwo",
                               database="PfLyb3l2sB")

engine = create_engine('mysql+mysqlconnector://PfLyb3l2sB:cKNRc5FUwo@remotemysql.com/PfLyb3l2sB')

some = pd.read_sql_query("select user_id as pop_id,COUNT(user_id) as num from notifications GROUP BY pop_id ORDER BY num DESC",engine)

another = pd.read_sql_query("select name,id as pop_id from users",engine)

pop = pd.merge(some,another,on="pop_id")

data = pd.DataFrame(pop)

def who_to_follow():
  a = data.nlargest(5,'num')
  a = a.drop(columns=['pop_id','num'])
  return a['name']

who_to_follow()

0             Seyi Onifade
1            Elijah Okokon
2             Jeffrey Ogah
3              Mark Essien
4    Oluwaseyi Oluwapelumi
Name: name, dtype: object

# Uncompleted Code lol

In [0]:
import mysql.connector
from sqlalchemy import create_engine

mydb = mysql.connector.connect(host="remotemysql.com",
                               user="8SawWhnha4",
                               passwd="zFvOBIqbIz",
                               database="8SawWhnha4")

engine = create_engine('mysql+mysqlconnector://8SawWhnha4:zFvOBIqbIz@remotemysql.com/8SawWhnha4')

a_c = pd.read_sql_query("select * from notifications", engine)

a_c

In [0]:
event_type_strength = {
    'Like': 1.0,
    'Replied':2.0,
    'Commented': 3.0,
    'Love': 4.0,
    'Followed': 5.0
}

a_c['eventStrength'] = a_c['action'].apply(lambda x: event_type_strength[x])

item_popularity_df = a_c.groupby('sender_id')['eventStrength'].sum().sort_values(ascending=False).reset_index()
item_popularity_df.head(100)

    sender_id  eventStrength
0        2234          115.0
1           3           46.0
2           4           43.0
3        1947           35.0
4           1           26.0
5           2           23.0
6        1340           18.0
7           9           16.0
8         352           16.0
9         669           15.0
10         47           10.0
11       1439           10.0
12        475           10.0
13        361           10.0
14       1864           10.0
15         34           10.0
16       2282           10.0
17        439           10.0
18       2271           10.0
19        904           10.0
20        550            8.0
21          6            6.0
22        447            5.0
23        492            5.0
24        653            5.0
25        612            5.0
26        619            5.0
27        620            5.0
28        630            5.0
29        410            5.0
..        ...            ...
61       1836            5.0
62       1862            5.0
63       1886            5.0
64       1985            5.0
65       2228            5.0
66       2240            5.0
67       2245            5.0
68       2277            5.0
69       1239            5.0
70       1212            5.0
71       1199            5.0
72       1101            5.0
73        834            5.0
74        867            5.0
75        868            5.0
76        891            5.0
77        895            5.0
78        902            5.0
79        916            5.0
80        945            5.0
81        955            5.0
82       1010            5.0
83       1017            5.0
84       1030            5.0
85       1043            5.0
86       1051            5.0
87       1098            5.0
88        847            5.0
89        489            3.0
90       2191            3.0

[91 rows x 2 columns]